# Testing
coverage==4.5.4                  # Test coverage
flake8==3.7.8                    # Python linting
mypy==0.720                      # Static typing
typing==3.7.4.1                  # Type hints
