# Testing
coverage==6.3.2                  # Test coverage
flake8==4.0.1                    # Python linting
syspath==3.0.0                   # Manipulating python paths

# Types
mypy==0.941                      # Static typing
types-setuptools==57.4.10        # Library setubs for setuptools
